<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Login</title>
</head>
<body class="bg-secondary" style="color:rgb(249, 43, 43);"></body>
    <%- include("./partials/nav") %>

    <div class="container mt-4">
        <form action="/user/signin" method="post">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="email" style="background-color: rgb(232, 140, 140);">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" style="background-color: rgb(232, 140, 140);">
            </div>
            
            <button type="submit" class="btn btn-danger">Login</button>
          </form>
    </div>

    <%- include("./partials/scripts") %>
</body>
</html>